* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    }

    body {
        background-color: #443025;
    }

    header {
        background-color: #443025;
        color: #ffe4ff;
        padding: 15px 30px;
        align-items: center;
        gap: 15px;
        display: flex;
    }

    header img {
        border-radius: 50px;
    }

    .logo {
        align-items: center;
        gap: 20px;
        display: flex;
    }

    nav {
        align-items: center;
        gap: 5px;
        display: flex;
    }

    nav a {
        color:#ffe4ff;
        text-decoration: none;
        font-size: 30px;
        margin: 10px;
        font-weight: bolder;
    }

    nav a:hover {
        color: #a86b8c;
    }

    .search {
        color: #ffe4ff;
        text-align: left;
        margin-top: 20px;
        padding: 20px;
    }

    .search-bar {
        width: 50%;
        padding: 10px;
        margin: 0 20px 45px;
        display: block;
        border: 2px solid #A86B6C;
        background-color: #FFE4EF;
    }

    .search-icon {
        position: absolute;
        left: 40%;
        top: 40%;
        transform: translateY(-50%);
        color: #A86B6C;
    }

    .inventory-list {
        background-color: #f3e7dc;
        padding: 20px;
        min-height: 100vh;
    }

    .text {
        color: #443025;
        font-size: 17pt;
    }

    .table-container {
        width: 80%;
        background-color: #ffe4ff;
        color: #443025;
        border: 2px solid #A86B6C;
        
    }
    
    th, td {
        border: 1px solid #A86B6C;
        padding: 30px;
        color:#443025;
        font-size: 17pt;
    }

    input[type="text"] {
        width: 550px;
        height: 50px;
        font-size: 16px; 
    }

    button {
        padding: 20px 28px;
        margin-top: 40px;
        border: none;
        border-radius: 10px;
        background-color: #A86B6C;
        color: #FFE4EF;
        cursor: pointer;
        font-size: 15pt;
    }

   button:hover {
    background-color: #a45a66;
   }