* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    }

    body {
        background-color: #443025;
    }

    header {
        background-color: #443025;
        color: #ffe4ff;
        padding: 15px 30px;
        align-items: center;
        gap: 15px;
        display: flex;
    }

    header img {
        border-radius: 50px;
    }

    .logo {
        align-items: center;
        gap: 20px;
        display: flex;
    }

    nav {
        align-items: center;
        gap: 5px;
        display: flex;
    }

    nav a {
        color:#ffe4ff;
        text-decoration: none;
        font-size: 30px;
        margin: 10px;
        font-weight: bolder;
    }

    nav a:hover {
        color: #a86b8c;
    }

    .title {
        color: #ffe4ff;
        text-align: left;
        margin-top: 20px;
        padding: 20px;
    }

    .update-stock {
        background-color: #f3e7dc;
        padding: 20px;
        min-height: 100vh;
    }

    .text {
        color: #443025;
        font-size: 17pt;
    }

    .form-container {
        padding: 10px;
        align-items: left;
        margin-top: 20px;
        font-size: 15pt;
    }

    input[type="text"] {
        width: 35%;
        height: 50px;
        font-size: 16px; 
        background-color: #FFE4EF;
    }

    button {
        padding: 20px 28px;
        margin-top: 40px;
        border: none;
        border-radius: 10px;
        background-color: #A86B6C;
        color: #FFE4EF;
        cursor: pointer;
        font-size: 10pt;
    }

   button:hover {
    background-color: #a45a66;
   }